/*Desktop*/

.best__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    margin-bottom: 20px;
    gap: 10px;
}
.best__content {
    flex: 1;
}
.best__table {
    color: rgb(153, 153, 153);
}
.best__table tr td:not(:first-child) {
    color: black;
}
.best__table tr:first-child td {
    color: rgb(153, 153, 153);
    font-weight: bold;
}
.best__table td {
    padding: 2px 5px;
}
.best__table tr td:nth-child(3) {
    text-align: end;
}
/* вот тут хуйня...........*/
.best__table-date {
    display: table-cell;
    white-space: nowrap;
}
.best__team-name{
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    white-space: nowrap;
}

/*Tablet*/
@media screen and (max-width: 1279px) {
    .best__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 640px) {
    .best__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
